*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;    
}

caption {
    text-align: center;
    /* font-weight: 600; */
}

table {
    margin:1rem auto;
    /* border-collapse: collapse; */
}

table, thead, td, th {
    /* text-align: center; */
    border: 1px solid black;
}
