        body {
            font-family: serif;
            margin: 0 300px;
        }

        .FirstClass {
            display: flex;
            border: 8px dotted rgb(190, 0, 0);
            margin: 1.5rem auto 0;
            height: 45rem;
            width: 35rem;
            box-sizing: border-box;
        }

        .solid {
            border: 14px solid black;
        }

        .MyHead {
            border: 1px solid green;
            margin: 32px;
            color: green;
        }

        .img {
            display: flex;
            justify-content: center;
        }

        img {
            width: 240px;
            height: 240px;
            margin: 0 16px;
        }

        .MyText {
            border: 8px dashed rgb(175, 1, 1);
            margin: 0 10px 10px;
            height: 210px;
            overflow: scroll;
            text-align: center;
        }

        p {
            color: rgb(0, 70, 0);
            font-size: 25px;
            margin: 10px 6px;
        }
